@model Mocanu.Models.LModels.LoginLogsModels

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>LoginLogsModels</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.UserEmail)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserEmail)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.UserRole)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.UserRole)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LoginDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LoginDate)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
	@Html.ActionLink("Back to List", "Index")
</p>
